body {
  font-family: arial, sans-serif;
  color: grey;
  text-align: left;
}

div .weather-detail {
  display: inline;
}

.weather-app {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

#search {
  background-color: dodgerblue;
  color: white;
  width: 30%;
  border-radius: 3px;
  border: none;
  padding: 0.75em 1em;
}

#locate {
  background-color: green;
  color: white;
  width: 30%;
  border-radius: 3px;
  border: none;
  padding: 0.75em 2em;
}

#search:hover {
  background-color: blue;
}

#locate:hover {
  background-color: darkgreen;
}

#weather-summary {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

i {
  font-size: 50px;
  margin-right: 15px;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: top;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.temp-units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.temp-units a {
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
