body {
  font-family: arial, sans-serif;
  color: grey;
  text-align: left;
}

.weather-app {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
}

.continer {
  display: flex;
}

#search {
  background-color: dodgerblue;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 0.75em 2em;
  margin-left: 1em;
}

#locate {
  background-color: green;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 0.75em 2em;
  margin-left: 1em;
}

#search:hover {
  background-color: blue;
}

#locate:hover {
  background-color: darkgreen;
}

#weather-summary {
  text-transform: capitalize;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  list-style: none;
}

i {
  font-size: 50px;
  margin-right: 15px;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0px;
}

#tempNum {
  font-family: sans-serif;
  color: black;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}

.temp-units {
  position: relative;
  font-size: 16px;
  top: -35px;
}

